{% extends 'base.html' %} {% block content %}
<h1>Ejercicio 1</h1>
<br />
<h2>Formulario de Notas</h2>
<form method="POST" class="form-notas">
  <div class="form-group">
    <label for="n1"> Notal:</label>
    <input type="number" name="n1" min="10" max="70" required />
  </div>
  <div class="form-group">
    <label for="n2"> Nota2:</label>
    <input type="number" name="n2" min="10" max="70" required />
  </div>
  <div class="form-group">
    <label for="n3"> Nota3:</label>
    <input type="number" name="n3" min="10" max="70" required />
  </div>
  <div class="form-group">
    <label for="asistencia"> Asistencia (%):</label>
    <input type="number" name="asistencia" min="0" max="100" required />
  </div>
  <div class="form-group">
    <button type="submit">Enviar</button>
  </div>
</form>
{% if promedio %}
<div class="resultado">
  <p class="negrita">
    El promedio de las 3 notas ingresadas es: <span>{{ promedio }}</span>
  </p>
  <p class="negrita">Estado: <span>{{ resultado }}</span></p>
  <!-- <img src="{{ruta}}" width="100px" height="100px" /> -->
</div>
{% endif %}
<br />
<br />
<a href="/">Volver al Home</a>
{% endblock %}
