{% extends 'base.html' %} {% block content %}

<div class="titulo">
<h1>Inicio Sesión</h1>
</div>
<br />
<form method="POST">
  <div class="nombreeje2">
    <label for="nombre_usuario"> Ingresa tu nombre:</label>
    <input type="text" name="nombre_usuario" required />
  </div>
  <div class="nombreeje2">
    <label for="contrasena"> Ingresa tu contraseña:</label>
    <input type="text" name="contrasena" required />
  </div>
  
  <br />
  <div class="nombreeje2">
    <button type="submit">Verificar</button>
    
  </div>
</form>


<div class="resultado">
  {% if mensaje %}<span>{{mensaje}}</span>{% endif %}
  {% if error %}<span>{{error}}</span>{% endif %}
</div>

<br />
<a href="/">Volver al Home</a>
{% endblock %}
